<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.job.mapper.CandidateMapper">
		<update id="update" parameterType="cn.com.job.bean.CandidateBean">
				UPDATE t_candidate
				<trim prefix="set" suffixOverrides=",">
						<if test="gender !=0 ">gender=#{gender},</if>
						<if test="age !=0 ">age=#{age},</if>
						<if test="education !=null and education !='' ">education=#{education},</if>
						<if test="describe !=null and describe !='' ">`describe`=#{describe},</if>
				</trim>
				WHERE candidate_id=#{candidateId}
		</update>
</mapper>