<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.job.mapper.EnterpriseMapper">
		<resultMap id="enterpriseMap" type="cn.com.job.bean.EnterpriseBean">
				<id column="enterprise_id" property="enterpriseId" />
				<result column="enterprise_name" property="enterpriseName" />
				<result column="catalog_id" property="catalogId" />
				<result column="area" property="area" />
				<result column="describe" property="describe" />
				<result column="user_id" property="userId" />
				<result column="user_name" property="userName" />
				<result column="mobile" property="mobile" />
		</resultMap>
		<insert id="insert" parameterType="cn.com.job.bean.EnterpriseBean" useGeneratedKeys="true" keyProperty="enterpriseId">
				insert into t_enterprise
				<trim prefix="(" suffix=")" suffixOverrides=",">
						<if test="enterpriseName !=null ">
								enterprise_name,
						</if>
						<if test="catalogId !=0 ">
								catalog_id,
						</if>
						<if test="area !=null ">
								area,
						</if>
						<if test="describe !=null ">
								describe,
						</if>
						<if test="userId !=0 ">
								user_id,
						</if>
				</trim>
				<trim prefix="values (" suffix=")" suffixOverrides=",">
						<if test="enterpriseName !=null ">
								#{enterpriseName},
						</if>
						<if test="catalogId !=0 ">
								#{catalogId},
						</if>
						<if test="area !=null ">
								#{area},
						</if>
						<if test="describe !=null ">
								#{describe},
						</if>
						<if test="userId !=0 ">
								#{userId},
						</if>
				</trim>
		</insert>
		<select id="getInfoByUserId" resultMap="enterpriseMap">
				SELECT
				*
				FROM
				t_enterprise
				WHERE
				user_id = #{userId}
		</select>
		<select id="getEnterpriseList" resultMap="enterpriseMap">
				SELECT
				enterprise_id,
				enterprise_name,
				t_enterprise.user_id,
				area,
				`describe`,
				user_name,
				mobile
				FROM
				t_enterprise
				LEFT JOIN t_user ON t_user.user_id = t_enterprise.user_id
				ORDER BY
				create_date DESC
		</select>
		<update id="update" parameterType="cn.com.job.bean.EnterpriseBean">
				UPDATE t_enterprise
				<trim prefix="set" suffixOverrides=",">
						<if test="enterpriseName !=null and enterpriseName !='' ">enterprise_name=#{enterpriseName},</if>
						<if test="area !=null and area !='' ">area=#{area},</if>
						<if test="describe !=null and describe !='' ">`describe`=#{describe},</if>
						<if test="catalogId !=0 ">catalog_id=#{catalogId},</if>
				</trim>
				WHERE enterprise_id=#{enterpriseId}
		</update>
</mapper>