<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.job.mapper.UserMapper">
		<resultMap id="userMap" type="cn.com.job.bean.UserBean">
				<id column="user_id" property="userId" />
				<result column="user_name" property="userName" />
				<result column="mobile" property="mobile" />
				<result column="password" property="password" />
				<result column="type" property="type" />
				<result column="enterprise_name" property="enterpriseName" />
				<result column="address" property="address" />
		</resultMap>
		<select id="getUserById" resultType="cn.com.job.bean.UserResBean">
				SELECT
				t_user.user_id AS userId,
				user_name AS userName,
				mobile,
				password,
				type,
				enterprise_id AS enterpriseId,
				enterprise_name AS enterpriseName,
				area,
				t_enterprise.`describe` AS enterpriseDescribe,
				gender,
				candidate_id AS candidateId,
				age,
				education,
				t_candidate.`describe` AS candidateDescribe,
				t_candidate.`status` AS
				candidateStatus
				FROM
				t_user
				LEFT JOIN t_enterprise ON t_enterprise.user_id = t_user.user_id
				LEFT JOIN t_candidate ON
				t_candidate.user_id=t_user.user_id
				WHERE
				t_user.user_id=#{userId}
		</select>
		<insert id="insert" parameterType="cn.com.job.bean.UserBean" useGeneratedKeys="true" keyProperty="userId">
				insert into t_user
				<trim prefix="(" suffix=")" suffixOverrides=",">
						<if test="mobile !=null and mobile !='' ">
								mobile,
						</if>
						<if test="type !=0 ">
								type,
						</if>
						<if test="userName !=null and userName !='' ">
								user_name,
						</if>
						<if test="password !=null and password !='' ">
								password
						</if>
				</trim>
				<trim prefix="values (" suffix=")" suffixOverrides=",">
						<if test="mobile !=null and mobile !='' ">
								#{mobile},
						</if>
						<if test="type !=0 ">
								#{type},
						</if>
						<if test="userName !=null and userName !='' ">
								#{userName},
						</if>
						<if test="password !=null and password !='' ">
								#{password}
						</if>
				</trim>
		</insert>
		<update id="updateUser" parameterType="cn.com.job.bean.UserBean">
				UPDATE t_user
				<trim prefix="set" suffixOverrides=",">
						<if test="userName !=null and userName !='' ">user_name=#{userName},</if>
						<if test="mobile !=null and mobile !='' ">mobile=#{mobile},</if>
						<if test="password !=null and password!='' ">password=#{password},</if>
						<if test="status !=0 ">status=#{status},</if>
				</trim>
				WHERE user_id=#{userId}
		</update>
		<select id="login" parameterType="cn.com.job.bean.UserBean" resultMap="userMap">
				SELECT
				*
				FROM
				t_user
				WHERE `password` =
				#{password} AND mobile = #{mobile}
				AND `status` = 1
		</select>
		<select id="getCandidateByUserId" resultType="cn.com.job.bean.CandidateBean">
				SELECT
				candidate_id AS candidateId,
				user_id AS userId,
				gender,
				age,
				education,
				`describe`,
				`status`
				FROM
				t_candidate
				WHERE
				user_id = #{userId}
		</select>
		<select id="getuserList" resultMap="userMap">
				SELECT
				*
				FROM
				t_user
				<where>
						<if test="status !=0 ">
								and `status` = #{status}
						</if>
						<if test="type !=0 ">
								and type = #{type}
						</if>
						<if test="mobile !=null and mobile !='' ">
								and mobile LIKE CONCAT("%",#{mobile},"%")
						</if>
						<if test="userName !=null and userName !='' ">
								and user_name LIKE CONCAT("%",#{userName},"%")
						</if>
				</where>
		</select>
</mapper>